
<div class="hero-unit">
    <h1>About the Nounou App</h1>
    <p>This application aims to manage planning and reports for your nurse.
        <br/> Please report any bugs to <a href="https://github.com/mlecoutre/nounou/issues">https://github.com/mlecoutre/nounou/issues</a>
        <br/></br>Don't hesitate also to propose any feedback or features you would like to have in this kind of applications.
     You can use the account <i>simpson@gmail.com</i> with password <i>marge</i> in order to test the application.
    </p>
</div>

<div class="well">
<p>

  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
</div>
