<div class="container">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit index">
        <h1 ng-i18next="commons:navbar.title"></h1>

        <p ng-i18next="index:index.goal"></p>

        <p><a class="btn btn-primary btn-large" href="/about" ng-i18next="index.learmore"></a></p>
    </div>

    <!-- Example row of columns -->
    <div class="row index">
        <div class="span4">
            <h2 ng-i18next="index.registration-title"></h2>

            <p dng-i18next="index.registration-detail"></p>

            <p><a class="btn" href="/registration" ng-i18next="index.view-details"></a></p>
        </div>
        <div class="span4">
            <h2 ng-i18next="index.run-title"></h2>

            <p ng-i18next="index.run-detail"></p>

            <p><a class="btn" href="/run" ng-i18next="index.view-details"></a></p>
        </div>
        <div class="span4">
            <h2 ng-i18next="index.report-title"></h2>

            <p ng-i18next="index.report-detail"></p>

            <p><a class="btn" href="/report" ng-i18next="index.view-details"></a></p>
        </div>
    </div>

</div>