<div ng-controller="RegistrationCtrl">
    <p>&nbsp;</p><br/>

    <h2 class="registration" ng-i18next="registration:registration.title"></h2>

    <tabs>
        <pane heading="{{tabs[0].label}}">
            <p ng-i18next="registration:registration.what.introduce1"></p>

            <p ng-i18next="registration:registration.what.introduce2"></p>
            <ul>
                <li ng-i18next="registration:registration.what.li1"></li>
                <li ng-i18next="registration:registration.what.li2"></li>
                <li ng-i18next="registration:registration.what.li3"></li>
            </ul>
        </pane>
        <pane heading="{{tabs[1].label}}">
            <div class="row">
                <form id="formUser" class="span4 registration">
                    <input type="hidden" id="editUserId"/>
                    <label for="userFirstName" ng-i18next="registration:registration.firstName"></label>
                    <input type="text" id="userFirstName" ng-model="user.firstName" class="required"
                           placeholder="your first name">
                    <label for="userLastName" ng-i18next="registration:registration.lastName"></label>
                    <input type="text" id="userLastName" ng-model="user.lastName" class="required"
                           placeholder="your last name">
                    <label for="userPhoneNumber" ng-i18next="registration:registration.phoneNumber"></label>
                    <input type="text" id="userPhoneNumber" ng-model="user.phoneNumber" placeholder="phone number">
                    <label for="userEmail" ng-i18next="registration:registration.email"></label>
                    <input type="text" id="userEmail" ng-model="user.email" placeholder="Email" class="required email">
                    <label for="userPassword"
                           ng-i18next="registration:registration.password"></label>
                    <input type="password" ng-model="user.password" name="userPassword" id="userPassword" placeholder="your password">
                    <label for="secondUserPassword" ng-i18next="registration:registration.repassword"></label>
                    <input type="password" ng-model="secondUserPassword" name="secondUserPassword"
                           id="secondUserPassword"
                           placeholder="re enter your password">
                    <label for="userType" ng-i18next="registration:registration.who"></label>
                    <select id="userType" ng-model="user.type">
                        <option></option>
                        <option ng-i18next="registration:registration.type.mother"></option>
                        <option ng-i18next="registration:registration.type.father"></option>
                        <option ng-i18next="registration:registration.type.mammy"></option>
                        <option ng-i18next="registration:registration.type.pappy"></option>
                        <option ng-i18next="registration:registration.type.friends"></option>
                        <option ng-i18next="registration:registration.type.other"></option>
                    </select>

                    <p>
                        <button type="button" ng-click="addUser()" class="btn" id="addUser"
                                ng-i18next="commons:button.add"></button>
                        <button type="button" ng-click="updateUser()" id="updateUser" class="btn hide"
                                ng-i18next="commons:button.save"></button>
                        <button type="button" ng-click="cancelUser()" id="cancelUser" class="btn hide"
                                ng-i18next="commons:button.cancel"></button>
                    </p>
                </form>
                <div class="span8" id="whiteAccessList">
                    <legend class="user-template" ng-i18next="registration:registration.accesslist"></legend>

                    <table class="table table-striped user-template">
                        <thead>
                        <tr>
                            <th ng-i18next="registration:registration.firstName"></th>
                            <th ng-i18next="registration:registration.lastName"></th>
                            <th ng-i18next="registration:registration.email"></th>
                            <th ng-i18next="registration:registration.phoneNumber"></th>
                            <th ng-i18next="registration:registration.edit"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="u in users">
                            <td>{{u.firstName}}</td>
                            <td>{{u.lastName}}</td>
                            <td>{{u.email}}</td>
                            <td>{{u.phoneNumber}}</td>
                            <td><a class="editUser" ng-click="prepareUpdateUser(u)"><i class="icon-edit"></i></a>
                                <a class="delUser" ng-click="delUser(u)"><i class="icon-trash"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </pane>
        <pane heading="{{tabs[2].label}}">
            <div class="row">
                <form id="formNurse" class="span4 registration">
                    <input type="hidden" id="editNurseId"/>
                    <label ng-i18next="registration:registration.firstName"></label>
                    <input ng-model="nurse.firstName" type="text" id="nurseFirstName" placeholder="First name"
                           class="required">
                    <label ng-i18next="registration:registration.lastName"></label>
                    <input ng-model="nurse.lastName" type="text" id="nurseLastName" placeholder="Last name">
                    <label ng-i18next="registration:registration.phoneNumber"></label>
                    <input ng-model="nurse.phoneNumber" type="text" id="nursePhoneNumber"
                           placeholder="Phone Number">

                    <p>
                        <button type="button" id="addNurse" ng-click="addNurse()" class="btn" ng-i18next="commons:button.add"></button>
                        <button type="button" id="updateNurse" ng-click="updateNurse()" class="btn hide"
                                ng-i18next="commons:button.save"></button>
                        <button type="button" id="cancelNurse" ng-click="cancelNurse()" class="btn hide"
                                ng-i18next="commons:button.cancel"></button>
                    </p>
                </form>
                <div class="span8" id="nurseList">
                    <legend class="nurse-template" ng-i18next="registration:registration.nurse.title"></legend>
                    <table class="table table-striped nurse-template">
                        <thead>
                        <tr>
                            <th ng-i18next="registration:registration.firstName"></th>
                            <th ng-i18next="registration:registration.lastName"></th>
                            <th ng-i18next="registration:registration.phoneNumber"></th>
                            <th ng-i18next="registration:registration.edit"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="n in nurses">
                            <td>{{n.firstName}}</td>
                            <td>{{n.lastName}}</td>
                            <td>{{n.phoneNumber}}</td>
                            <td><a class="editNurse" ng-click="prepareUpdateNurse(n)"><i class="icon-edit"></i></a>
                                <a class="delNurse"  ng-click="delNurse(n)"><i class="icon-trash"></i></a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </pane>
        <pane heading="{{tabs[3].label}}">

            <div class="row">
                <form id="formKid" class="span4 registration">

                    <label ng-i18next="registration:registration.firstName"></label>
                    <input type="text" ng-model="child.firstName" id="kidFirstName" placeholder="kid first name" class="required">
                    <label ng-i18next="registration:registration.lastName"></label>
                    <input type="text" ng-model="child.lastName" id="kidLastName" placeholder="kid last name">`
                    <label ng-i18next="registration:registration.birthday"></label>
                    <input type="text" ng-model="child.birthday" id="kidBirthday" class="required" placeholder="birthday">
                    <label ng-i18next="registration:registration.picture"></label>
                    <input type="text" ng-model="child.pictureUrl" id="kidPicture" placeholder="picture url">
                    <label ng-i18next="registration:registration.nurse-label"></label>
                    <select id="nurseId" ng-model="child.nurseId" >

                        <option ng-repeat="nrs in nurses" value="{{nrs.nurseId}}">{{nrs.nurseName}}</option>
                    </select>

                    <p>
                        <button type="button" id="addChild" ng-click="addChild()" class="btn" ng-i18next="commons:button.add"></button>
                        <button type="button" id="updateChild" ng-click="updateChild()" class="btn hide" ng-i18next="commons:button.save"></button>
                        <button type="button" id="cancelChild" ng-click="cancelChild()" class="btn hide"
                                ng-i18next="commons:button.cancel"></button>
                    </p>
                </form>
                <div class="span8" id="kidList">
                    <legend class="kid-template" ng-i18next="registration:registration.kids.title"></legend>

                    <ul class="thumbnails">
                        <li class="span2"  ng-repeat="c in children">
                            <div class="thumbnail">
                                <row><img style="height:50px; width:50px" src="{{c.pictureUrl}}"/><strong>{{c.firstName}}</strong>
                                </row>

                                <p>{{c.birthday}}<br/>
                                    {{c.nurseName}}<br/></p>
                                <center>
                                    <a class="editKid"  ng-click="prepareUpdateChild(c)"><i
                                            class="icon-edit"></i></a>
                                    <a class="delKid" ng-click="delChild(c)"><i
                                            class="icon-trash"></i></a>
                                </center>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </pane>

    </tabs>
</div>