<p>&nbsp;</p><br/>

<h2 class="report" ng-i18next="report:report.title"></h2>

<div class="tabbable tabs-left" style="width:90%">
    <ul class="nav nav-tabs  report" id="reportTab">
        <li><a href="#charts" ng-i18next="report:report.tab.title.chart"></a></li>
        <li><a href="#tableReports" ng-i18next="report:report.tab.title.table"></a></li>
        <li><a href="#options" ng-i18next="report:report.tab.title.options"></a></li>
    </ul>

    <div class="tab-content">


        <div class="tab-pane active" id="charts">
            <div id="container" class="report-chart-container">

            </div>
        </div>

        <div class="tab-pane" id="tableReports">

        </div>
        <div class="tab-pane" id="options">

        </div>
    </div>

</div>