<p>&nbsp;</p><br/>

<h2 class="report" ng-i18next="report:report.title"></h2>

<div ng-controller="ReportCtrl">
    <tabs>
        <pane heading="report:report.tab.title.chart">
            <div class="tab-pane active" id="charts">

            </div>
        </pane>

        <pane heading="report:report.tab.title.table">
            <legend class="app-template" ng-i18next="report:app-template.total-duration"></legend>
            <table class="table table-striped app-template">
                <thead>
                <tr>
                    <th ng-i18next="report:app-template.arrival-user"></th>
                    <th ng-i18next="report:app-template.arrival-date"></th>
                    <th ng-i18next="report:app-template.departure-user"></th>
                    <th ng-i18next="report:app-template.departure-date"></th>
                    <th ng-i18next="report:app-template.kid"></th>
                    <th ng-i18next="report:app-template.duration"></th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="appointment in appointments">
                    <td>{{appointment.arrivalUserName}}</td>
                    <td>{{appointment.arrivalDate}}</td>
                    <td>{{appointment.departureUserName}}</td>
                    <td>{{appointment.departureDate}}</td>
                    <td>
                        <img ng-repeat="child in appointment.children" src="{{child.pictureUrl}}"
                             class="small-picture" alt={{child.firstName}}/>

                    </td>
                    <td>{{appointment.duration}}</td>
                </tr>

                </tbody>
            </table>

        </pane>


        <pane heading="report:report.tab.title.options">

        </pane>

    </tabs>
</div>