<p>&nbsp;</p><br/>

<h2 class="run" ng-i18next="run:run.title"></h2>

<tabs ng-controller="RunCtrl">
    <pane heading="run:run.tab.live" >
        <div class="row">
            <div class="span4 run">

                <p ng-i18next="run:run.live.description"></p>

                <label ng-i18next="run:run.commons.user"></label>
                <select id="userId" ng-model="appointment.arrivalUser" ng-options="u.firstName for u in users">
                </select>
                <label ng-i18next="run:run.commons.arrival-date"></label>
                <input type="text" id="arrivalDate" ui-mask="'99-99-9999'"  ng-model="appointment.arrivalDate" placeholder="Arrival date time">
                <label ng-i18next="run:run.commons.departure-date"></label>
                <input type="datetime" id="departureDate" ui-mask="'99-99-9999'"  ng-model="appointment.departureDate" placeholder="Departure date time">

                <div id="kidName">
                    <div ng-repeat="child in children" ng-click="clicKid(child);" ng-kid="{{child.childId}}" class="liveKid">
                        <img src="{{child.pictureUrl}}" style="width:50px; height:50px;" /><br/>{{child.firstName}}
                    </div>
                </div>

                <p><a class="btn btn-primary large-button" ng-click="addAppointment()" id="goLive" ng-i18next="run:run.live.button-go"></a></p>

            </div>

            <div id="last5" class="span8">
                <legend class="last5-template" ng-i18next="run:run.last5.legend"></legend>
                <table class="table table-striped last5-template" id="lastAppointments">
                    <thead>
                    <tr>
                        <th ng-i18next="run:run.commons.arrival-user"></th>
                        <th ng-i18next="run:run.commons.arrival-date"></th>
                        <th ng-i18next="run:run.commons.departure-user"></th>
                        <th ng-i18next="run:run.commons.departure-date"></th>
                        <th ng-i18next="run:run.commons.kids"></th>
                        <th ng-i18next="run:run.commons.duration"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="app in last5">
                        <td>{{app.arrivalUser.firstName}}</td>
                        <td>{{app.arrivalDate}}</td>
                        <td>{{app.departureUser.firstName}}</td>
                        <td>{{app.departureDate}}</td>
                        <td>
                            <div ng-repeat="child in app.children" data-target="{{child.childId}}" >
                                <img src="{{child.pictureUrl}}" class="small-picture" />
                            </div>
                        </td>
                        <td>{{app.duration}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </pane>

    <pane heading="run:run.tab.update">
        <div class="row">
            <div class="span4">
                <div id="editUpdate" class="hide run">

                    <label ng-i18next="run:run.update.arrival-user"></label>
                    <select id="editArrivalUserId" ng-model="updtAppointement.arrivalUser" ng-options="u.firstName for u in users">
                    </select>
                    <label ng-i18next="run:run.commons.arrival-date"></label>
                    <input type="text" id="editArrivalDate" ng-model="updtAppointement.arrivalDate" placeholder="Arrival date time">
                    <label ng-i18next="run:run.update.departure-user"></label>
                    <select id="editDepartureUserId" ng-model="updtAppointement.departureUser" ng-options="u.firstName for u in users">
                    </select>
                    <label ng-i18next="run:run.commons.departure-date"></label>
                    <input type="text" id="editDepartureDate"  ng-model="updtAppointement.departureDate"  placeholder="Departure date time">
                    <label ng-i18next="run:run.commons.kids"></label>

                    <div id="editKids">
                        <div ng-repeat="child in children" ng-kid="{{child.childId}}" class="liveKid">
                            <img src="{{child.pictureUrl}}" style="width:50px; height:50px;" /><br/>{{child.firstName}}
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-primary" id="editSave" ng-click="updateAppointment()" ng-i18next="commons:button.save"></a>
                        <a class="btn btn-primary" id="editCancel" ng-click="cancelAppointment();" ng-i18next="commons:button.cancel"></a>
                    </div>
                </div>
            </div>
            <div class="span8 run">
                <legend ng-i18next="run:run.search.legend"></legend>
                <label ng-i18next="run:run.search.label"></label>

                <p><select id="searchDate" ng-model="searchDate" ng-options="s.label for s in selectables">
                </select>
                    <a class="btn" id="search" ng-click="listAppointments();" ng-i18next="run:run.search.search-button"></a></p>
                <hr/>
                <div id="appointmentResultList">
                    <table class="table table-striped appointmentsContent">
                        <thead>
                        <tr>
                            <th ng-i18next="run:run.commons.arrival-user"></th>
                            <th ng-i18next="run:run.commons.arrival-date"></th>
                            <th ng-i18next="run:run.commons.departure-user"></th>
                            <th ng-i18next="run:run.commons.departure-date"></th>
                            <th ng-i18next="run:run.commons.kids"></th>
                            <th ng-i18next="run:run.commons.edit"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="app2 in requestAppointments">
                            <td>{{app2.arrivalUser.firstName}}</td>
                            <td>{{app2.arrivalDate}}</td>
                            <td>{{app2.departureUser.firstName}}</td>
                            <td>{{app2.departureDate}}</td>
                            <td>
                                <img ng-repeat="c in app2.children" src="{{c.pictureUrl}}" class="small-picture" alt={{c.firstName}}/>
                            </td>
                            <td><a class="edit" data-target="{{app2.appointmentId}}" ng-click="prepareUpdateAppointment(app2);"><i class="icon-edit"></i></a>
                                <a class="del" data-target="{{app2.appointmentId}}"  ng-click="delAppointment(app2);"><i class="icon-trash"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </pane>
</tabs>